{
  "mcpServers": {
    "contentful-docker": {
      "command": "docker",
      "args": [
        "run",
        "-i",
        "--rm",
        "-e", "CONTENTFUL_MANAGEMENT_ACCESS_TOKEN",
        "-e", "SPACE_ID",
        "-e", "ENVIRONMENT_ID",
        "-e", "CONTENTFUL_HOST",
        "contentful-mcp"
      ]
    }
  }
}
